<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@(ViewBag.Title ?? "Asp.net project")</title>
    <link rel="stylesheet" href="~/style.css" />

</head>
<body>
    <div class="container">
        <h1>Weather app</h1>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
