* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    line-height: 1;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
}


.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 24px;
}

.boxes {
    --cols: 4;
    --gap: 12px;
    display: flex;
    gap: var(--gap);
    padding-top: 40px;
    flex-wrap: wrap;
}

.box {
    border-radius: 4px;
    padding: 32px 24px;
    flex-basis: calc(100% / var(--cols) - var(--gap) / var(--cols) * (var(--cols) - 1));
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 1px solid #ccc;
    font-size: 20px;
}

@media (max-width: 1000px) {
    .boxes {
        --cols: 3;
    }
}

@media (max-width: 750px) {
    .boxes {
        --cols: 2;
    }
}

@media (max-width: 480px) {
    .boxes {
        --cols: 1;
    }
}
